*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: rgb(196, 92, 196);
    color: white;
}
h1{
    text-align: center;
}
/* form{
    height: 100vh;
} */
.list{
    height: 5vh;
    width: 60%;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px  rgb(38, 204, 38);
    border: none;
}
.add{
   height: 5vh;
    width: 40%;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px  rgb(38, 204, 38);
    border: none;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
}
  span{
    /* background: rgb(233, 233, 110); */
   padding: 5px;
   background:red;
   text-align: center;
   font-size: larger;
   border-radius: 8px;
   margin-left: 10px;
   cursor: pointer;
    box-shadow: 1.5px 1.5px rgb(238, 200, 238);


}
.done{
    cursor: pointer;
}
.text{
height: 10vh;
}